[Desktop Entry]
Type=Application
Name=Desktop Stickers
Name[es]=Desktop Stickers
Comment=Sticky notes flotantes en el escritorio
Comment[es]=Sticky notes flotantes en el escritorio
Exec=__DESKTOP_STICKERS_BIN__
Icon=document-properties
Terminal=false
Categories=Utility;
X-KDE-autostart-phase=1
